<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <%- include("./cssjs.ejs") %>
</head>
<body>
<h1>Update <%= pokeman.name %></h1> 
<form action="/pokemon/<%= id %>?_method=PUT" method="post">
    <label>Name: <input type="text" name="name" value="<%= pokeman.name %>"/></label>
    <label>Image: <input type="text" name="img" value="<%= pokeman.img %>"></label>
    <label>HP: <input type="number" name="hp" value="<%= pokeman.stats.hp %>"></label>
    <label>Attack: <input type="number" name="attack" value="<%= pokeman.stats.attack %>"></label>
    <label>Defense: <input type="number" name="defense" value="<%= pokeman.stats.defense %>"></label>
    <input type="submit" value="Update <%= pokeman.name %>" />
</form>     
</body>
</html>