<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("./cssjs.ejs") %>
</head>
<body>
    <h1>Catch them all!</h1>
    <nav>
        <a href="/pokemon/new">Find a new Pokemon? Tell us about them!</a>
    </nav>

<ul>
    <div class="container">
        <% for (let i = 0; i < pokemon.length; i++) { %>  
        <a href="/pokemon/<%= i %>"><li><%= pokemon[i].name %></li></a>
        <a href="/pokemon/<%= i %>"><img src="<%= pokemon[i].img %>"></img></a>
        <form action="/pokemon/<%= i %>?_method=DELETE" method="post">
            <input type="submit" value="Delete This Pokemon">
        </form>
  
        <% } %>
        </div>
        </ul>
</div>        
</body>
</html>