<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("./cssjs.ejs") %>
</head>
<body><a href="/pokemon">Back to Pokedex</a>
    <h1><%= pokeman.name.toUpperCase()  %></h1>   
    <img src="<%= pokeman.img  %>"></img>
    <h1>HP: <%= pokeman.stats.hp %> </h1>
    <h1>Attack: <%= pokeman.stats.attack %></h1>
    <h1>Defense: <%= pokeman.stats.defense %></h1>
    <a href="/pokemon/<%= id %>/edit"><button>Edit</button></a>
</body>
</html>